<%- include('./partials/header'); -%>
<div class="container mt-3">
    <div class="row">

        <% if(products) { %>
        <div class="col-md-12">

            <h4 class="card-title card shadow-sm">
                <div class="row pl-5 pr-5 p-3">
                    <b class="col-md-12 text-center">Payment</b>
                </div>
            </h4>
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <% var totalPrice = 0; %>
                    <% products.forEach(function(product, idx, array){ %>
                    <% totalPrice += product.item.price; %>
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <img src="/<%= product.item.photo %>" class="img-fluid">
                        </div>
                        <div class="col-md-8 mt-3">
                            <b class="col-md-12"><%= product.item.name %></b>
                            <div class="col-md-12 mt-2">$<%= product.item.price %></div>
                        </div>
                    </div>
                    <% if (idx !== array.length - 1){ %>
                    <hr>
                    <% } %>
                    <% }); %>
                </div>
            </div>

            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <div class="row mb-4">
                        <b class="col-md-12 text-center">Payment Processes</b>
                        <hr>
                        <div class="col-md-12">
                            <form action="/payment" class="row mt-3" method="post">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="paymentMethod">Payment method</label>
                                        <select name="paymentMethod" id="paymentMethod" class="form-control">
                                            <option value="accountBalance">Account balance</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 offset-md-2">
                                    <div class="form-group">
                                        <label for="totalPrice">Total price</label>
                                        <div class="col-md-12 pl-0">
                                            $<%= totalPrice %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 offset-md-1">
                                    <div class="form-group">
                                        <label for="pay">Confirm payment</label>
                                        <button id="pay" type="submit" class="btn btn-success col-12">PAY</button>
                                    </div>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <% } else { %>
        <div class="col-md-12">
            <h4 class="card-title card shadow-sm">
                <div class="row pl-5 pr-5 p-3">
                    <b>No products in the cart.</b>
                </div>
            </h4>
        </div>
        <% } %>

    </div>
</div>
<%- include('./partials/footer'); -%>